body{
	max-width:600px;
	margin: auto auto;
	font-family:arial;
	font-size:1.0em;
	text-align:left;
	color:black;
	background-color:#d6d0bf;
	}


h1{
	color:white;
	border-radius:0.25em;
	text-align:center;
	font-size:1em;
	padding:0.2em 0.2em;
	background:#558ED5;
	}

h2{
	color:black;
	font-size: 0.9em;
	}

h3{
	font-size:0.8em;
	}

table{
	font-family:arial,sans-serif;
	font-size:1.0em;
	border-collapse:collapse;
	}

td {
	text-align: left;
}
	
button {
	border-radius:0.25em;
	background:#0066A2;
	padding:0.3em 1.0em;
	align-self:center;
	color:white;
	font-size:1.0em;
	}

input[type="number"] {
	clear: both;
	float: left;
	width: 60px;
	}

.form-submit-button {
	border-radius:0.25em;
	padding:0.3em 1.0em;
	background:#0066A2;
	align-self:center;	
	color:white;
	margin: auto;
	width:130px;
	font-size:1.0em;
   }
		
p {
	font-size:1.0em;
	}

.slidecontainer {
width: 100%;
}
	
.slider {
-webkit-appearance: none;
width: 95%;
height: 5px;
border-radius: 2px;
background: white;
outline: none;
opacity: 1;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 10px;
height: 15px;
border-radius: 10%;
background: #0066A2;
cursor: pointer;
}

