body{
	max-width:65%;
	margin:0 auto;
	font-family:arial;
	font-size:100%;
	text-align:left;
	color:black;
	background-color:#d6d0bf;
	}


h1{
	color:white;
	border-radius:0.5em;
	text-align:center;
	font-size:1em;
	padding:0.2em 0.2em;
	background:#558ED5;
	}

h2{
	color:black;
	font-size:1.0em;
	}

h3{
	font-size:0.8em;
	}

table{
	font-family:arial,sans-serif;
	font-size:1.0em;
	border-collapse:collapse;
	width:80%;
	}
	
button {
	margin-bottom:1rem;
	border-radius:0.5em;
	background:#0066A2;
	padding:0.3em 0.3em;
	align-self:center;
	width:25%;
	color:white;
	font-size:100%;
	}

input[type="number"] {
	clear: both;
	float: right;
	width: 100px;
	}

.form-submit-button {
	margin-bottom:1rem;
	border-radius:0.5em;
	padding:0.3em 0.3em;
	background:#0066A2;
	align-self:center;	
	color:white;
	width:25%;
	font-size:100%;
   }
		
p {
	font-size:1.0em;
	}

